.card_option {
    width: 20%;
    margin-top: 6%;
}

.card {
    margin-top: 6%;
}

.icon_option {
    width: 60%;
    text-align: center;
}

.card-body a,
.card-body p,
.card-body h4 {
    text-align: center;
}

.card-body p,
.setting_button {
    font-size: 17px;
}

a,
p,
.card-body h4 {
    font-family: 'Times New Roman', Times, serif;
}

label {
    font-size: 18px;
}

.icon_cup {
    width: 35%;
    margin: 2%;
}

.empty {
    margin-top: 17%;
}